@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
  z-index: 100;
  transition: opacity 0.25s ease;
}
.modal-container {
  max-height: 90%;
}

body.modal-active {
  overflow-x: hidden;

  height: 100vh;
  overflow-y: hidden;
  /* overflow-y: visible !important; */
}

section,
footer#contact {
  height: 100vh;
  width: 100%;
}

.stylistic-quote-mark {
  font-size: 5rem;
  right: 95%;
  top: -15%;
  @apply absolute hidden mr-2 font-sans leading-none text-red-900;
}

@screen sm {
  .stylistic-quote-mark {
    @apply block;
  }

  .main-header,
  nav {
    grid-template-columns: 1rem repeat(6, minmax(0, 1fr)) 1rem;
  }

  section,
  footer#contact {
    min-height: 100vh;
    width: 100%;
  }
}

@screen md {
  .main-header,
  nav {
    grid-template-columns: 6rem repeat(6, minmax(0, 1fr)) 6rem;
  }

  .portfolio {
    grid-template-rows: repeat(6, minmax(0, 100px));
  }
}

.project-tag {
  @apply p-2 text-sm font-light bg-[#353535];
}
.portfolio-item {
  @apply bg-accent bg-opacity-90 bg-blend-hard-light flex items-center justify-center font-sans text-xl font-semibold text-white bg-cover;
}

.portfolio-item.small-square {
  @apply md:row-span-1 md:col-span-1 col-span-5;
}

.portfolio-item.square {
  @apply md:row-span-2 md:col-span-2 col-span-5;
}

.portfolio-item.large-square {
  @apply md:row-span-3 md:col-span-3 col-span-5;
}

.portfolio-item.wide {
  @apply md:row-span-2 md:col-span-3 col-span-5;
}

.portfolio-item.tall {
  @apply md:row-span-3 md:col-span-2 col-span-5;
}

@screen sm {
  .stylistic-quote-mark {
    @apply block;
  }
}

@layer utilities {
  .aspect-1\/1 {
    aspect-ratio: 1 / 1;
  }
  .aspect-2\/1 {
    aspect-ratio: 2 / 1;
  }
}

@layer base {
  /* inter-regular - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url('/fonts/inter-regular-webfont.woff2') format('woff2'),
      url('/fonts/inter-regular-webfont.woff') format('woff');
  }

  /* inter-500 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: optional;
    src: url('/fonts/inter-medium-webfont.woff2') format('woff2'),
      url('/fonts/inter-medium-webfont.woff') format('woff');
  }

  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: url('/fonts/inter-bold-webfont.woff2') format('woff2'),
      url('/fonts/inter-bold-webfont.woff') format('woff');
  }

  /* Write your own custom base styles here */
  h1 {
    @apply md:text-5xl mb-12 font-sans text-3xl font-bold leading-10 tracking-wider;
  }

  h2 {
    @apply md:text-4xl font-sans text-2xl font-bold;
  }

  h3 {
    @apply md:text-xl mt-2 font-sans text-sm font-bold;
  }

  h4 {
    @apply font-sans text-lg font-bold;
  }

  body {
    @apply md:text-base font-sans text-sm;
  }

  .layout {
    /* 750px */
    /* max-width: 43.75rem; */

    /* 1100px */
    max-width: 68.75rem;
    @apply w-11/12 mx-auto;
  }
}
