@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/** Modal **/

.modal {
  z-index: 100;
  transition: opacity 0.25s ease;
}
.modal-container {
  max-height: 90%;
}

body.modal-active {
  overflow-x: hidden;

  height: 100vh;
  overflow-y: hidden;
}

/** Accordian **/

/* Tab content - closed */
.tab-content {
  max-height: 0;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Label formatting when open */
.tab input:checked + label {
  /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 font-semibold text-indigo*/
  font-size: 1.25rem; /*.text-xl*/
  padding: 1.25rem; /*.p-5*/
  border-left-width: 2px; /*.border-l-2*/
  border-color: #feb00a; /*.border-indigo*/
  background-color: #f8fafc; /*.bg-gray-100 */
  color: #353535; /*.text-indigo*/
}
/* Icon */
.tab label::after {
  float: right;
  right: 0;
  top: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  font-size: 1.25rem;
  text-align: center;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
/* Icon formatting - closed */
.tab input[type='checkbox'] + label::after {
  content: '+';
  font-weight: bold; /*.font-bold*/
  border-width: 1px; /*.border*/
  border-radius: 9999px; /*.rounded-full */
  border-color: #b8c2cc; /*.border-grey*/
}
.tab input[type='radio'] + label::after {
  content: '\25BE';
  font-weight: bold; /*.font-bold*/
  border-width: 1px; /*.border*/
  border-radius: 9999px; /*.rounded-full */
  border-color: #b8c2cc; /*.border-grey*/
}
/* Icon formatting - open */
.tab input[type='checkbox']:checked + label::after {
  transform: rotate(315deg);
  background-color: #feb00a; /*.bg-indigo*/
  color: #f8fafc; /*.text-grey-lightest*/
}
.tab input[type='radio']:checked + label::after {
  transform: rotateX(180deg);
  background-color: #feb00a; /*.bg-indigo*/
  color: #f8fafc; /*.text-grey-lightest*/
}

.stylistic-quote-mark {
  font-size: 5rem;
  right: 95%;
  top: -15%;
  @apply absolute hidden mr-2 font-sans leading-none text-red-900;
}

/** Porfolio Section **/
.portfolio {
  min-height: 80vh;
}

.project-tag {
  @apply p-2 text-sm font-light bg-[#353535];
}
.portfolio-item {
  @apply bg-accent bg-opacity-90 bg-blend-hard-light flex items-center justify-center font-sans text-xl font-semibold text-white bg-cover;
}

.portfolio-item.small-square {
  @apply md:row-span-1 md:col-span-1 col-span-5;
}

.portfolio-item.square {
  @apply md:row-span-2 md:col-span-2 col-span-5;
}

.portfolio-item.large-square {
  @apply md:row-span-3 md:col-span-3 col-span-5;
}

.portfolio-item.wide {
  @apply md:row-span-2 md:col-span-3 col-span-5;
}

.portfolio-item.tall {
  @apply md:row-span-3 md:col-span-2 col-span-5;
}

/** Footer/Contact Section **/

section,
footer#contact {
  min-height: 100vh;
  width: 100%;
}

/** Media Queries **/

@screen sm {
  .stylistic-quote-mark {
    @apply block;
  }

  .portfolio-item {
    @apply h-24 bg-center;
  }

  .stylistic-quote-mark {
    @apply block;
  }

  .main-header,
  nav {
    grid-template-columns: 1rem repeat(6, minmax(0, 1fr)) 1rem;
  }

  section,
  footer#contact {
    min-height: 100vh;
    width: 100%;
  }
}

@screen md {
  .portfolio-item {
    @apply h-auto;
  }

  .main-header,
  nav {
    grid-template-columns: 3rem repeat(6, minmax(0, 1fr)) 3rem;
  }

  .portfolio {
    grid-template-rows: repeat(6, minmax(0, 100px));
  }
}
@screen lg {
  .main-header,
  nav {
    grid-template-columns: 5rem repeat(6, minmax(0, 1fr)) 5rem;
  }
}

@layer utilities {
  .aspect-1\/1 {
    aspect-ratio: 1 / 1;
  }
  .aspect-2\/1 {
    aspect-ratio: 2 / 1;
  }
}

@layer base {
  /* inter-regular - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url('/fonts/inter-regular-webfont.woff2') format('woff2'),
      url('/fonts/inter-regular-webfont.woff') format('woff');
  }

  /* inter-500 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: optional;
    src: url('/fonts/inter-medium-webfont.woff2') format('woff2'),
      url('/fonts/inter-medium-webfont.woff') format('woff');
  }

  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: url('/fonts/inter-bold-webfont.woff2') format('woff2'),
      url('/fonts/inter-bold-webfont.woff') format('woff');
  }

  /* Write your own custom base styles here */
  h1 {
    @apply md:text-5xl mb-12 font-sans text-3xl font-bold leading-10 tracking-wider;
  }

  h2 {
    @apply md:text-4xl font-sans text-2xl font-bold;
  }

  h3 {
    @apply md:text-xl mt-2 font-sans text-sm font-bold;
  }

  h4 {
    @apply font-sans text-lg font-bold;
  }

  body {
    @apply md:text-base font-sans text-sm;
  }

  .layout {
    /* 750px */
    /* max-width: 43.75rem; */

    /* 1100px */
    max-width: 68.75rem;
    @apply w-11/12 mx-auto;
  }
}
