@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

html,
body,
#root {
  overflow-x: hidden;
}

body.modal-active {
  overflow-y: hidden;
}

/** Hero and main bg **/

.main-header::before,
.main-header::after {
  @apply absolute w-full h-full;
  content: '';
}

.main-header > * {
  @apply z-50;
}

.main-header::after {
  @apply z-10 bg-gradient-to-br from-gray-900 to-transparent;
}

/* Hero img */
.main-header::before {
  @apply bg-bottom bg-cover;
  opacity: 0.15;
  background-image: url('/images/bokeh.jpg');
}

/** Modal **/

.modal {
  z-index: 100;
  transition: opacity 0.25s ease;
  max-width: 100vw;
}
.modal-container {
  z-index: 101;
  max-height: 100%;
  @apply ml-0 md:mx-auto;
}

body.modal-active,
body.modal-active #root {
  overflow-x: hidden;
  height: 100vh;
  overflow-y: hidden;
}

/** Accordion **/

/* Tab content - closed */
.tab-content {
  max-height: 0;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Label formatting when open */
.tab input:checked + label {
  /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 font-semibold text-indigo*/
  @apply text-xl xl:text-2xl; /*.text-xl*/
  padding: 1.25rem; /*.p-5*/
  border-left-width: 2px; /*.border-l-2*/
  border-color: #feb00a; /*.border-indigo*/
  background-color: #f8fafc; /*.bg-gray-100 */
  color: #353535; /*.text-indigo*/
}
/* Icon */
.tab label::after {
  float: right;
  right: 0;
  top: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  font-size: 1.25rem;
  text-align: center;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
/* Icon formatting - closed */
.tab input[type='checkbox'] + label::after {
  content: '+';
  font-weight: bold; /*.font-bold*/
  border-width: 1px; /*.border*/
  border-radius: 9999px; /*.rounded-full */
  border-color: #b8c2cc; /*.border-grey*/
}
.tab input[type='radio'] + label::after {
  content: '\25BE';
  font-weight: bold; /*.font-bold*/
  border-width: 1px; /*.border*/
  border-radius: 9999px; /*.rounded-full */
  border-color: #b8c2cc; /*.border-grey*/
}
/* Icon formatting - open */
.tab input[type='checkbox']:checked + label::after {
  transform: rotate(315deg);
  background-color: #feb00a; /*.bg-indigo*/
  color: #f8fafc; /*.text-grey-lightest*/
}
.tab input[type='radio']:checked + label::after {
  transform: rotateX(180deg);
  background-color: #feb00a; /*.bg-indigo*/
  color: #f8fafc; /*.text-grey-lightest*/
}

blockquote {
  @apply mx-2 my-4 mt-2 font-sans text-sm font-light leading-4 text-gray-900 md:text-xl sm:text-sm xl:text-2xl xl:leading-10 xl:text-center;
}

/** Portfolio Section **/
.portfolio {
  min-height: 80vh;
}

.project-tag {
  @apply p-2 text-sm font-light bg-gray-light;
}
.portfolio-item {
  @apply flex items-center justify-center font-sans text-xl font-semibold text-white bg-cover shadow-lg bg-accent bg-opacity-90 md:shadow-sm hover:bg-opacity-100 bg-blend-hard-light;
  cursor: pointer;
}

.portfolio-item.small-square {
  @apply col-span-5 md:row-span-1 md:col-span-1;
}

.portfolio-item.square {
  @apply col-span-5 md:row-span-2 md:col-span-2;
}

.portfolio-item.large-square {
  @apply col-span-5 md:row-span-3 md:col-span-3;
}

.portfolio-item.wide {
  @apply col-span-5 md:row-span-2 md:col-span-3;
}

.portfolio-item.tall {
  @apply col-span-5 md:row-span-3 md:col-span-2;
}

/** Footer/Contact Section **/

section,
footer#contact {
  min-height: 100vh;
  width: 100%;
}

.footer-details {
  @apply pt-2 text-gray-300;
  grid-template-rows: 2rem 1fr 2rem 1fr;
  font-size: 0.75rem;
}

.email em {
  @apply px-1 text-sm not-italic text-white uppercase;
}
.credits a,
.aj-ref a {
  @apply text-sm italic text-white hover:underline;
}

/** Media Queries **/

.main-header,
.main-header,
nav {
  grid-template-rows: 7rem auto;
  grid-template-columns: 0.5rem repeat(6, minmax(0, 1fr)) 0.5rem;
}

header nav {
  z-index: 90 !important;
}

main,
header nav {
  @apply md:mx-auto;
}

.cv-img, .cr-img {
  @apply hover:bg-blend-normal;
  background-blend-mode: difference;
}

.cr-img {
  max-width: 450px;
  background-blend-mode: hard-light
}

@screen sm {
  nav {
    grid-template-rows: auto;
  }

  .portfolio-item {
    @apply h-24 bg-center;
  }

  .main-header,
  nav {
    grid-template-columns: 1rem repeat(6, minmax(0, 1fr)) 1rem;
  }

  section,
  footer#contact {
    min-height: 100vh;
    width: 100%;
  }
}

@screen md {
  .portfolio-item {
    @apply h-auto;
  }

  .main-header,
  nav {
    grid-template-columns: 4rem repeat(6, minmax(0, 1fr)) 4rem;
  }

  .portfolio {
    grid-template-rows: repeat(6, minmax(0, 150px));
  }

  .footer-details {
    grid-template-rows: auto;
    grid-template-columns: 3rem 1fr 3rem 1fr;
  }
}

@screen lg {
  .main-header,
  nav {
    grid-template-columns: 4rem repeat(6, minmax(0, 1fr)) 4rem;
  }

  main > header > nav {
    height: 10vh;
  }

  main > header > nav {
    height: 10vh;
  }

  #contact-form {
    @apply my-auto;
  }

  #projects {
    padding-top: 13vh;
    padding-bottom: 10vh;
  }
}

@screen xl {
  .modal-container {
    width: 75%;
    max-height: 90%;
  }

  .main-header,
  nav {
    grid-template-columns: 2vw repeat(6, minmax(0, 1fr)) 2vw;
  }

  .layout {
    max-width: 85%;
  }
}

.hc-info {
  left: 92%;
}

@media screen and (min-width: 400px) {
  h1.hero-title {
    @apply text-5xl text-center;
  }
  .hc-info {
    left: 87%;
  }
}

@media screen and (min-width: 640px) {
  h1.hero-title {
    @apply text-7xl;
  }
  .hc-info {
    left: 100%;
  }
}

@media screen and (min-width: 1400px) {
  h1.hero-title {
    font-size: 6rem;
  }
}

@media screen and (min-width: 1960px) {
  .layout {
    max-width: 75%;
  }

  h1 {
    font-size: 5rem;
  }

  .modal-container {
    max-width: 65%;
  }

  .bg-accent.aspect-1\/1 span {
    @apply ml-4 text-4xl;
  }

  header > nav + div > span {
    @apply text-xl;
  }

  .main-header .testimonial {
    aspect-ratio: 2/1 !important;
  }

  blockquote {
    @apply text-xl;
  }

  .main-header .quote-mark {
    height: 12rem;
  }
}

@layer utilities {
  .aspect-1\/1 {
    aspect-ratio: 1 / 1;
  }
  .aspect-2\/1 {
    aspect-ratio: 2 / 1;
  }
  .aspect-1\/2 {
    aspect-ratio: 1 / 2;
  }
}

@layer base {
  h1.hero-title,
  .cta-btn {
    font-weight: 400;
    @apply px-4 text-4xl sm:text-left;
  }

  h1.hero-title,
  .cta-circle {
    font-family: 'Ubuntu Mono', monospace;
  }

  /* Write your own custom base styles here */
  h1 {
    @apply mb-8 font-sans text-5xl font-bold leading-10 tracking-wider md:text-8xl xl:leading-normal xl:text-center;
  }

  h2 {
    @apply font-sans text-2xl font-bold md:text-3xl xl:text-4xl xl:mb-8 xl:leading-normal;
  }

  h3 {
    @apply mt-2 font-sans text-sm font-bold md:text-xl;
  }

  h4 {
    @apply font-sans text-lg font-bold;
  }

  body {
    @apply font-sans text-sm md:text-base;
  }

  #root {
    background-image: url('/images/funky-lines.png');
    @apply bg-gray-900 bg-repeat;
  }

  .layout {
    @apply w-11/12;
    max-width: 100vw;
  }
}
